.btn {
  padding: 10px 20px;
  border: 1px solid steelblue;
  border-radius: 5px;
  background: steelblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn[disabled] {
  border: 1px solid lightsteelblue;
  background: lightsteelblue;
  color: white;
  cursor: default;
}

/* .btn.btn-1 {
}

.btn.btn-2 {
}

.btn.btn-3 {
} */
